<%= "#{@album} (by #{@album.artist})" %>

<table class="table_base">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @album.tracks.each do |track| -%>
      <tr>
        <td style="text-align: right">
          <%= link_to track.track_number, track_path(track) %>
        </td>
        <td><%= track.name %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
